<% layout("/layouts/boilerplate") %>


<!-- enctype="multipart/form-data" -->
<form class="form" action="/articles" method="POST" >
	
	
  <h3 class="text-center mb-5"> SEO DESCRIPTIONS</h3>
	
	<div class="input-group mb-5">
  <span class="input-group-text">Title</span>
  <input type="text" placeholder="SEO Title: no simbols, must have  1-3 kewwords+ company" class="form-control" minlength="30" maxlength="70" name="blog[seo][title]">
  <input type="text"  placeholder="URL Extention" class="form-control" required name="blog[urlExtention]">	
</div>
	
	<div class="input-group mb-3">
  <span class="input-group-text">SEO DESCRIPTIONS</span>
  <textarea class="form-control" name="blog[seo][description]">Snipet Must be different to title  ot 70 do 150-200 simb</textarea>
</div>
	
<div class="input-group mb-3">
  <span class="input-group-text">SEO KEYWORDS</span>
  <textarea class="form-control" name="blog[seo][keywords]">put some KEYWORDS</textarea>
</div> 
	
	
	<div class="input-group mb-3">
		 <span class="input-group-text">Select Category</span>
<select class="form-select mb-3" name="blog[category]" id="category">
  <option selected>Все</option>
	<option value="Семья и отношения">Семья и отношения</option>
  <option value="Юмор и развлечения">Юмор и развлечения</option>
  <option value="Новости и СМИ">Новости и СМИ</option>
  <option value="Политика">Политика</option>
	<option value="Видео и фильмы">Видео и фильмы</option>
	<option value="Бизнес и стартапы">Бизнес и стартапы</option>
	<option value="Познавательное">Познавательное</option>
	<option value="Искусство и фото">Искусство и фото</option>
	<option value="Здоровье и Спорт">Здоровье и Спорт</option>
	<option value="Криптовалюты">Криптовалюты</option>
	<option value="Путешествия">Путешествия</option>
	<option value="Маркетинг, PR, реклама">Маркетинг, PR, реклама</option>
	<option value="Технологии">Технологии</option>
	<option value="Цитаты">Цитаты</option>
	<option value="Образование">Образование</option>
	<option value="Экономика">Экономика</option>
	<option value="Мода и красота">Мода и красота</option>
	<option value="Еда и кулинария">Еда и кулинария</option>
	<option value="Авто">Авто</option>
	<option value="Животные">Животные</option>
	<option value="Медицина">Медицина</option>
	<option value="Лайфхаки">Лайфхаки</option>
	<option value="Игры и приложения">Игры и приложения</option>
	<option value="Лингвистика">Лингвистика</option>
	<option value="Лингвистика">работа и заработок</option>
</select>
</div> 	
	
	
	<input type="hidden" value="false"  class="form-control" name="blog[published]" id="hiddenCheckBox">
  <input class="form-check-input" type="checkbox" value="" id="checkBox">
  <label class="form-check-label" for="flexCheckDefault">
     PUBLISH NOW
  </label>

	
	<hr class="mb-5">
	 <h3 class="text-center mb-5"> Article</h3>
	
	
	<div class="input-group mt-5 mb-5">
		<span class="input-group-text">Main Title H1..</span>
		 <input type="text" placeholder="Title" class="form-control" name="blog[title]">
	</div>
		
	<div class="section">
		<div class="input-group mb-3">
		 <input type="text" placeholder="Subtitle (if needed)" class="form-control" name="blog[content][subtitle]">
	</div>
	
	
<div class="input-group mb-3">
  <span class="input-group-text">Paragraf</span>
  <textarea class="form-control" name="blog[content][text]"></textarea>
</div>
	
	<!-- <input type="file" name="image" id="image"> -->
	<div class="input-group mb-5">
		<span class="input-group-text">Image Alt / Img Path </span>
		<input type="text" placeholder="Alt / Descriptions" class="form-control" name="blog[content][alt]">
		 <input type="text" placeholder="image Url" class="form-control" name="blog[content][img]">
	</div>
	</div>
	
		

	
<input class="btn btn-success  m-5" type="submit" value="SUBMIT">
	
</form>


<script src="/javaScripts/checkbox.js"></script>
